<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ControlAcademicoMvc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <strong>Sistema de Control Académico</strong> &nbsp;|&nbsp;
            <a href="/">Inicio</a> &nbsp;
            <a href="/Estudiante/Listar">Listado de Estudiantes</a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
